@import url('https://fonts.googleapis.com/css2?family=Abel&family=Anton&display=swap');
body {
    background-color: #e6e6e6;
}

.top-row {
    position: relative;
    z-index: 50;
}
.bg-white {
    position: absolute;
    top: 20px;
    height: 50px;
    width: 100%;
    background-color: #f7f7f7;
}
.no-gutters {
    background: #e6e6e6;
}

.font-anton {
    font-family: 'Anton', sans-serif;
    font-weight: bolder;
}
.font-abel {
    font-family: 'Abel', sans-serif;
}
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}
.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid white;
    margin: 1em;
}
.circle, .icon {
    border-radius: 50%;
    font-family: "Anton", sans-serif;
}
.logo, .circle{
    width: 108px;
    height: 108px;
}
.bg-red {
    background: #e6563b;
}

.bg-orange {
    background: #dea03d;
}

.bg-green {
    background: #7cb06c;
}

.bg-blue {
    background: #00aba9;
}

.card {
    width: 18rem;
    margin: 1em;
    border: none;

}
.card-img-top {
    border: 8px solid #f0f0f0;
}
.card-body {
    background-color: #e6e6e6;
   
}
.card-text {
    flex-grow: 1;
    margin: none;
    padding-top: .5em;
    font-size: 12px;
}
.icon {
    height: 18px;
    width: 18px;
}
.aside-image {
    width: 60px;
    height: 60px;
}

.media-icon {
    height: 30px;
    width: 30px;
}
.twitter-icon {
    color: #1DA1F2;
}
.font-anton {
    font-family: "Anton", sans-serif;
}




@media (min-width: 576px) { 
    .top-row {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        align-items: center;
    }
    .logo {
        height: 105px;
        width: 105px;
    }
}

@media (min-width: 992px) { 
    .top-row {
        display: flex;
        justify-content: space-between;
        align-items: center;  
        text-align: left;
        width: 100%;
    }
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        justify-content: center;
    }
   
 }

/* // Extra large devices (large desktops, 1200px and up) */
