@import url('https://fonts.googleapis.com/css2?family=Abel&family=Anton&display=swap');
body {
    text-transform: uppercase;
    background-color: #e6e6e6;
}
.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}
.top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: space-between;
    width: 100%;

}
.no-gutters {
    background: #e6e6e6;
}
h1, h3 {
    font-family: 'Anton', sans-serif;
    font-weight: bolder;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}
.circle-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.logo, .circle{
    width: 108px;
    height: 108px;
}
.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid white;
    margin: 1em;
}
.circle, .icon {
    border-radius: 50%;
    font-family: "Anton", sans-serif;
}
.bg-red {
    background: #e6563b;
}

.bg-orange {
    background: #dea03d;
}

.bg-green {
    background: #7cb06c;
}

.bg-blue {
    background: #00aba9;
}
.card-section1 {
    display: flex;
}
.card-section2 {
    display: flex;
}
.card {
    width: 18rem;
    margin: 1em;
    border: none;

}
.card-img-top {
    border: 8px solid #f0f0f0;
}
.card-body {
    background-color: #e6e6e6;
   
}
.card-text {
    flex-grow: 1;
    margin: none;
    padding-top: .5em;
    font-size: 12px;
}
.icon {
    height: 18px;
    width: 18px;
}
.aside-image {
    width: 60px;
    height: 60px;
}

.media-icon {
    height: 30px;
    width: 30px;
}
.twitter-icon {
    color: #1DA1F2;
}
.font-anton {
    font-family: "Anton", sans-serif;
}





